body {background-color: #F0EAD6;}


/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
}

h3 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
}

h4 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h5 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

.responsive {
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: blue;
}
