/* this is gonna be my css file */

body, html {
  height: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0);
}


.background {
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  text-align: left;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 20px;
}

body a {
  color: orange;
}

.background h1 {
  text-align: center;
  color: white;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 70px;
  padding: 0;
  margin: 0;
}

#nav {
  text-align: center;
  color: white;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica;
}

#watcard {
  text-align: right;
  color: red;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}

.text {
  padding-left: 10%;
  padding-top: 10px;
}

.toptext {
  padding-top: 3px;
}

img {
  width: 85%;

}
